// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-div {
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}

.user-show-headline {
  font-size: 30px;
}
